@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url(./../fonts/Montserrat-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url(./../fonts/Montserrat-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Helvetica';
        font-weight: 400;
        src: url(./../fonts/Montserrat-Regular.ttf) format('truetype');
    }
}

@layer components {

    #content-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    body {
        position: relative;
    }

    .zoom-full {
        zoom: 1;
    }

    .zoom-75 {
        zoom: 0.75;
    }

    .zoom-150 {
        zoom: 1.5;
    }

    .slider-item-show4 {
        --swiffy-slider-item-count: 4;
    }

    .slider-item-show3 {
        --swiffy-slider-item-count: 3;
    }

    .slider-item-show2 {
        --swiffy-slider-item-count: 2;
    }

    .slider-item-show1 {
        --swiffy-slider-item-count: 1;
    }

    .aspect-16-9 {
        aspect-ratio: 16 / 9;
    }

    .aspect-16-8 {
        aspect-ratio: 16 / 8;
    }

    .aspect-16-7 {
        aspect-ratio: 16 / 7;
    }

    .aspect-16-6 {
        aspect-ratio: 16 / 6;
    }

    .aspect-16-5 {
        aspect-ratio: 16 / 5;
    }

    .aspect-15-9 {
        aspect-ratio: 15 / 9;
    }

    .aspect-9-9 {
        aspect-ratio: 9 / 9;
    }

    .aspect-1-1 {
        aspect-ratio: 1 / 1;
    }

    .right-chevron {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    .aspect-none {
        aspect-ratio: unset;
    }

    .pos-unset {
        position: unset !important;
    }

    .shrink-none {
        flex-shrink: unset;
    }

    .items-unset {
        align-items: unset;
    }

    .z-full {
        z-index: 9999;
    }

    .left-none {
        left: unset;
    }

    .shadow-custom-1 {
        box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 10%);
    }

    .slider-custom-1 {
        --swiffy-slider-item-gap: 2rem;
    }

    .slider-custom-1 .slider-nav {
        filter: unset;
    }

    .slider-custom-1 .slider-nav::after {
        content: unset;
    }

    .slider-custom-1 .slider-nav::before {
        content: unset;
    }

    .slider-custom-2 .slider-nav {
        filter: unset;
    }

    .slider-custom-2 .slider-nav::after {
        content: unset;
    }

    .slider-custom-2 .slider-nav::before {
        content: unset;
    }

    @supports (position-area: bottom) {
        .anhore-filterlist {
            anchor-name: --filterList;
        }

        .position-anchor-filterlist {
            inset-block-start: anchor(start);
            position-anchor: --filterList;
            position-area: bottom;
            top: 0;
        }
    }

    @supports (position-area: bottom) {

        .anhore-burgerlist {
            anchor-name: --burgerlist;
        }

        .position-anchor-burgerlist {
            position-anchor: --burgerlist;
            position-area: bottom;
            top: 0;
        }
    }

    @supports not (position-area: bottom) {
        .position-anchor-filterlist {
            top: 8rem !important;
        }

    }

    @supports not (position-area: bottom) {

        .position-anchor-burgerlist {
            top: 5rem !important;
        }
    }

}