extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_cardDocs.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/pages/kontakty/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Контакты - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-14 pt-10")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Контакты
            div(class="container mx-auto flex flex-col gap-14")
                div(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-2 gap-8")
                    div(class="flex flex-col gap-2")
                        p(class="font-Montserrat font-semibold text-xl text-black") 123022, г.Москва, Звенигородское шоссе, 18/20 к1, БЦ "Звенигородский".
                        p(class="font-Montserrat font-normal text-base text-secondary mt-auto") Адрес фактический
                    div(class="flex flex-col gap-2")
                        p(class="font-Montserrat font-semibold text-xl text-black") 127006, г.Москва, Страстной бульвар, д.9
                        p(class="font-Montserrat font-normal text-base text-secondary mt-auto") Адрес юридический
                    div(class="flex flex-col gap-2")
                        address 
                            a(href="mailto:educentr@avtodor-eng.ru", class="font-Montserrat font-semibold text-xl text-black hover:text-primary not-italic") educentr@avtodor-eng.ru
                        p(class="font-Montserrat font-normal text-base text-secondary mt-auto") Email
                    div(class="flex flex-col gap-2")
                        -
                            var items = [
                                {
                                    type: "pdf",
                                    link: "#",
                                    name: `ООО "Автодор-Инжиниринг"`,
                                },
                            ]
                        +cardDocs(items)
                        p(class="font-Montserrat font-normal text-base text-secondary mt-auto") Реквизиты
                div(style="position:relative;overflow:hidden;", class="rounded-lg w-full")
                    a(href="https://yandex.ru/maps/org/zvenigorodskiy/153191857064/?utm_medium=mapframe&utm_source=maps", style="color:#eee;font-size:12px;position:absolute;top:0px;") Звенигородский
                    a(href="https://yandex.ru/maps/213/moscow/category/business_center/184107509/?utm_medium=mapframe&utm_source=maps", style="color:#eee;font-size:12px;position:absolute;top:14px;") Бизнес-центр в Москве
                    iframe(src="https://yandex.ru/map-widget/v1/?ll=37.555546%2C55.764549&oid=153191857064&ol=biz&sctx=ZAAAAAgCEAAaKAoSCQiPNo5Y4FhAEUsgJXZt2U5AEhIJAAAAAICNb0ARy%2FYhb7k8U0AiBgABAgMEBSgKOABA2q0HSAFqAnJ1nQHNzMw9oAEAqAEAvQEGswLzwgEMqPfI17oEhvXVr4EBggJxMTIzMDIyLCDQsy7QnNC%2B0YHQutCy0LAsINCX0LLQtdC90LjQs9C%2B0YDQvtC00YHQutC%2B0LUg0YjQvtGB0YHQtSwgMTgvMjAg0LoxLCDQkdCmICLQl9Cy0LXQvdC40LPQvtGA0L7QtNGB0LrQuNC5Ii6KAgCSAgMyMTOaAgxkZXNrdG9wLW1hcHOwAgE%3D&sll=37.555546%2C55.764549&z=18.83", width="100%", height="auto", frameborder="1", allowfullscreen="true", style="position:relative;", class="aspect-16-9")
    include ../../../../../pug/layout/_footer.pug