mixin accordion(items)
    - var path = "./local/templates/nmigroup"
    each item, index in items
        div(accordion='', class="flex flex-col rounded-3xl border transition-all shadow-custom-1 border-gray-[#f6f6f7] overflow-hidden")
            div(class="flex justify-between items-center py-2 pl-6 pr-3 cursor-pointer")
                p(class="font-inter font-semibold text-base leading-[1.5] text-gray-600") #{item.title}
                img(accordion-icon='', src=`${path}/img/icons/CaretDown.svg`, alt="иконка", class="w-3 h-3 object-contain transition-transform duration-300 transform icon-filter-success-500")
            div(accordion__body='', class="overflow-hidden transition-all duration-300 max-h-0")
                div(class="pb-4 px-6 border-b-4 border-success-500")
                    p(class="font-inter font-normal text-base leading-[1.5] text-gray-600") #{item.text}