mixin card2(items)
    each item in items 
        article(class="rounded-lg p-4 shadow-md min-h-32 relative flex flex-col gap-4 overflow-hidden")
            - var teg = "py-2 px-4 rounded-lg w-max"
            - var tegtext = "font-Montserrat font-medium text-base"
            if item.type === "Курс"
                - teg = teg + " bg-blue-300"
                - tegtext = tegtext + " text-black"
            else if item.type === "Тема"
                - teg = teg + " bg-yellow-300"
                - tegtext = tegtext + " text-black"
            else if item.type === "Тест"
                - teg = teg + " bg-green-300"
                - tegtext = tegtext + " text-black"
            div(class=teg)
                p(class=tegtext) #{item.type}
            div(class="flex flex-wrap gap-2 items-center")
                p(class="font-Montserrat font-medium text-black @xl/body:text-base @6xl/body:text-lg") #{item.name}