mixin datepicker(trigger="", placeholder="")
    div(class="transition transition-timing-productive duration-300 border border-gray-400 rounded-lg py-2 px-3 bg-white shadow-custom-1 h-10")
        input(type="text", class="border-none h-full outline-none w-full font-inter font-normal text-base leading-[1.5] text-gray-400", id=trigger, placeholder=placeholder)