mixin directionCard(items)
    - var path = "./local/templates/tcavtodor"
    each item, index in items
        article(class="flex flex-col gap-4 cursor-pointer relative group")
            div(class="rounded-lg relative")
                img(src=item.src, alt="картинка направления", class="w-full h-full aspect-16-9 object-cover rounded-lg")
                div(class="w-full px-4 pb-4 absolute left-0 bottom-0 flex justify-end")
                    div(class="w-max min-h-8 rounded-lg shadow-md bg-white p-4")
                        p(class="font-Montserrat font-normal text-black text-base") #{item.count} Программ
            p(class="font-Montserrat font-semibold text-black text-xl group-hover:text-primaryHover") #{item.title}
            a(href=item.link, class=" absolute inset-0 top-0 left-0")