mixin twolevellist(items)
    - var path = "./local/templates/nmigroup"
    each item in items
        div(twolevellistItem="", class="flex flex-col")
            p(twolevellistTitle="", class="font-inter font-medium text-base leading-[1.5] text-success-500 pb-1 border-b border-success-500 border-dashed w-max cursor-pointer") #{item.title}
            div(twolevellistBody="",class="transition-all duration-300 max-h-0 overflow-hidden")
                div(class="pl-[3.75rem] pt-2 flex flex-col gap-3")
                    each child in item.childs
                        div(class="group")
                            a(href=child.link, class="font-inter font-medium  text-base leading-[1.5] text-success-500 flex items-center gap-2 group-hover:underline group-hover:underline-offset-2 w-max")
                                | #{child.title}
                                img(src=`${path}/img/icons/ic_Ссылка.svg`, class="w-5 h-5 object-content icon-filter-success-500")
